body,html{
	margin: 0px;
	padding: 0px;
	height:100%;
}
.all-wrap{
	height:300%;
}
.header{
	height:18%;
	background:url(images/alphard-systems/maxresdefault.jpg) 100% 60% no-repeat;
	background-size:cover;
}
.header-block{
	height: 10%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.header-title{
	position:absolute;
	width:20%;
	top:0;
	left:5%;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.header-title a{
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}
.first{
	position:relative;
	top:20%;
	left:2%;
	opacity:0;
}
.alphard-powers{
	position:absolute;
	background-color:#0F0D0A	;
	height:70%;
	width:100%;

}
.alphard-powers h2{
	font-family: 'Intro', sans-serif;
	font-size:250%;
	color:#006400;
	position:absolute;
	top:30%;
	left:3%;
}
.alphard-powers .picture{
	background:url(images/alphard-systems/power.png) 100% no-repeat;
	position:absolute;
	top:0%;
	left:15%;
	width:80%;
	height:110%;
}
.alphard-subwoofers{
	background-color:#1C0033	;
	background-clip:padding-box;
	position:absolute;
	top:124%;
	height:70%;
	width:100%;
}
.alphard-subwoofers h2{
  font-family: 'Intro', sans-serif;
	font-size:250%;
	color:#006400;
	position:absolute;
	top:30%;
	left:50%;
}
.alphard-subwoofers .picture{
	background:url(images/alphard-systems/subwoofer.png) 100% no-repeat;
	position:absolute;
	top:-5%;
	left:0%;
	width:46%;
	height:110%;
}
	

.alphard-dinamics{
	background-color:#2B0000	;
	background-clip:padding-box;
	position:absolute;
	top:194%;
	height:70%;
	width:100%;
}
.alphard-dinamics h2{
	font-family: 'Intro', sans-serif;
	font-size:250%;
	color:#006400;
	position:absolute;
	top:30%;
	left:5%;
	alink:#2B0000;
}
.alphard-dinamics .picture{
	background:url(images/alphard-systems/dynamics.png) 100% no-repeat;
	position:absolute;
	top:0%;
	left:45%;
	width:46%;
	height:80%;
}
}
.alphard-twitters{
	background-color:#2B0000;
	background-clip:padding-box;
	position:absolute;
	top:194%;
	height:100%;
	width:100%;
}
.alphard-twitters h2{

}
.alphard-twitters .picture{
	
} 

.author-block .header-block{
	height: 10%;
	width: 100%;
	background-color:;
}