body,html{
	margin: 0px;
	padding: 0px;
	height:100%;
}
.all-wrap{
	height:300%;
}
.header{
	height:18%;
	background:url(images/alphard-systems/maxresdefault.jpg) 100% 60% no-repeat;
	background-size:cover;
}
.header-block{
	height: 5%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.header-title{
	position:absolute;
	width:20%;
	top:0;
	left:5%;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.header-title a{
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}