body,html{
	margin: 0px;
	padding: 0px;
	height:100%;
}
.all-wrap{
	height:300%;
}
.header{
	height:18%;
	background-color:#2F4F4F;
	background-size:cover;
}
.header-block{
	height: 5%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.header-title{
	position:absolute;
	width:20%;
	top:0;
	left:5%;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.header-title a{
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}
a:visited .header-title {
text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}
a:hover .header-title {
text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}
a:active .header-title {
text-decoration:none;
	color:rgba(254, 74, 6,1);
	text-shadow: black 0 0 5px;
}
.header .picture{
	background:url(images/alphard-systems/power-to-header.png) 100%  no-repeat;
	height:50%;
	width:50%;
	position:absolute;
	left:40%;
}
.header .text{
	color:#FFF8DC;
	font-family:Fixed, monospace;
	font-size:20px;
	text-shadow: black 0 0 5px;
	position:absolute;
	top:10%;
	left:5%;
	width:40%;
}
.main-part{
	background-color:#C0C0C0;
	height:200%;
	width:100%;
}
.main-part .table{
	background-color:#D3D3D3;
	position:absolute;
	left:10%;
	right:10%;
	top:70%;
	width:80%;
	height:200%;
}
.table .first-block{
	background-color:#FFFFFF;
	position:relative;
	left:5%;
	top:3%;
	width:40%;
	height:20%;
}
.first-block .picture{
	background:url(images/alphard-systems/powers/DB-2000.1d.png) 50% 50% no-repeat;
	position:relative;
	top:10%;
	left:8%;
	width:80%;
	height:70%;
}
.first-block .text{
	position:relative;
	left:10%;
	margin-top:0%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.first-link{
	position:relative;
	left:2%;
	top:50%;
	width:100%;
	height:120%;
}
a:link {
	color:#000000;
	text-decoration:none;
}
a:visited {
	color:#696969;
}
a:hover {
	font-style:italic;
	color:#2F4F4F;
}
a:active{
	color:#006400	;
}
.table .second-block{
	background-color:#FFFFFF;
	position:relative;
  left:55%;
	top:-17%;
	width:40%;
	height:20%;
}
.second-block .picture{
	background:url(images/alphard-systems/powers/alphard-ae-12000-1d-0.png) 50% 50% no-repeat;
	position:relative;
	top:15%;
	left:8%;
	width:90%;
	height:70%;
}
.second-block .text{
	position:relative;
	left:10%;
	top:10%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.second-link{
	position:relative;
	left:0%;
	top:2%;
	width:100%;
	height:100%;
}
.table .third-block{
	background-color:#FFFFFF;
	position:relative;
	left:5%;
	top:-14%;
	width:40%;
	height:20%;
}
.third-block .picture{
	background:url(images/alphard-systems/powers/machete-m1500d.png) 50% 50% no-repeat;
	position:relative;
	top:10%;
	left:8%;
	width:80%;
	height:70%;
}
.third-block .text{
	position:relative;
	left:10%;
	top:10%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.third-link{
	position:relative;
	left:2%;
	top:50%;
	width:100%;
	height:120%;
}
.table .fourth-block{
	background-color:#FFFFFF;
	position:relative;
  left:55%;
	top:-34%;
	width:40%;
	height:20%;
}
.fourth-block .picture{
	background:url(images/alphard-systems/powers/Machete-m350d.png) 50% 50% no-repeat;
	position:relative;
	top:15%;
	left:8%;
	width:90%;
	height:70%;
}
.fourth-block .text{
	position:relative;
	left:10%;
	top:10%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.fourth-link{
	position:relative;
	left:0%;
	top:2%;
	width:100%;
	height:100%;
}
.table .fifth-block{
	background-color:#FFFFFF;
	position:relative;
	left:5%;
	top:-31%;
	width:40%;
	height:20%;
}
.fifth-block .picture{
	background:url(images/alphard-systems/powers/machete-m450d.png) 50% 50% no-repeat;
	position:relative;
	top:10%;
	left:8%;
	width:80%;
	height:70%;
}
.fifth-block .text{
	position:relative;
	left:10%;
	top:10%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.fifth-link{
	position:relative;
	left:2%;
	top:50%;
	width:100%;
	height:120%;
}
.table .sixth-block{
	background-color:#FFFFFF;
	position:relative;
  left:55%;
	top:-51%;
	width:40%;
	height:20%;
}
.sixth-block .picture{
	background:url(images/alphard-systems/powers/machete-m134.png) 50% 50% no-repeat;
	position:relative;
	top:15%;
	left:8%;
	width:90%;
	height:70%;
}
.sixth-block .text{
	position:relative;
	left:10%;
	top:10%;
	width:80%;
	text-align:center;
	font-family:Fixed, monospace;
	font-size:18px;
}
.sixth-link{
	position:relative;
	left:0%;
	top:2%;
	width:100%;
	height:100%;
}

.active{
	display:run-in;
}
.no-active{
	display:none;
}
.first-block-description{
	position:relative;
	top:2%;
	left:5%;
}
.second-block-description{
	position:relative;
	top:-18%;
	left:55%;
}
.third-block-description{
	position:relative;
	top:-15%;
	left:5%;
}
.fourth-block-description{
	position:relative;
	top:-35%;
	left:55%;
}
.fifth-block-description{
	position:relative;
	top:-32%;
	left:5%;
}
.sixth-block-description{
	position:relative;
	top:-52%;
	left:55%;
}