body,html{
	margin: 0px;
	padding: 0px;
	height:170%;
	width:100%;
}
.author-block{
	position:absolute;
	top:0%;
	left:0%;
	height:100%;
	width:100%
}
.header-block-ofauth{
	height: 10%;
	width: 100%;
	background-color:#2F4F4F;
}
.header-title{
	position:absolute;
	width:20%;
	top:0;
	left:5%;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.header-title a{
	position:relative;
	z-index:100000;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
}
.main-block{
	position:relative;
	top:0%;
	height:350%;
	width:100%;
	background-color:#D3D3D3;
}
.description{
	position:absolute;
	left:0%;
	width:100%;
	height:30%;
}

.description img{
	position:relative;
	margin-top:10%;
	left:5%;
	width:30%;
	
}


.description h1{
	position:absolute;
	left:35%;
	top:0%
}
.description .tth{
	position:absolute;
	left:55%;
	top:10%;
}
.description h2{
	position:relative;
	left:5%;
}
.description pre{
	position:absolute;
	left:43%;
	top:20%;
	font-family: 'Intro', sans-serif;
	font-size:130%;
}
iframe{
	position:relative;
	z-index:999;
}
.text{
	position:relative;
	margin-top:60%;
}
.description p{
	position:relative;
	left:5%;
	width:90%;
	font-family: 'Intro', sans-serif;
	font-size:130%;
	
}
.description h3{
	position:relative;
	left:10%;
}
.video{
	margin-top:-200%;
	left:5%;
}
.menu-block{
	height:100%;
	position: fixed;    
	z-index: 9999;    
	top: 0px;    
	left: 0px;
	height:100%;
}
.menu-title{
	font-family: 'Intro', sans-serif;
	color:#E0FFFF;
}
.menu-button{
	color: #fff;    
	width: 43px;    
	height: 39px;    
	text-align: center;    
	font-size: 34px;        
	background: #1c4482;    
	padding-top: 4px;    
	cursor: pointer;
}
.menu-button:hover{
	background: #fff;
	olor: #1c4482;
} 
.menu-button{
	float:left;
}
.menu-list-block{
	float:left;
	margin-left:-1000px;
	z-index:9999;
	visibility: visible;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	background: #fff;
	padding: 15px 25px;
}
.activeMenu{
	float:left;
	margin-left:0px;
	margin-top:30%;
}
.menu-list{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	margin-buttom:5px;
}
.menu-list li a{
	font-size: 17px;
	color: #dc0056;
	text-decoration: none;
}
.menu-list li a:hover{
	color:#222;
}