body,html{
	margin: 0px;
  padding: 0px;
  height:100%;
}
.menu-block{
	height:100%;
	position: fixed;    
	z-index: 9999;    
	top: 0px;    
	left: 0px;
	height:100%;
}
.menu-title{
	font-family: 'Intro', sans-serif;
	color:#E0FFFF;
}
.menu-button{
	color: #fff;    
	width: 43px;    
	height: 39px;    
	text-align: center;    
	font-size: 34px;        
	background: #1c4482;    
	padding-top: 4px;    
	cursor: pointer;
}
.menu-button:hover{
	background: #fff;
	olor: #1c4482;
} 
.menu-button{
	float:left;
}
.menu-list-block{
	float:left;
	margin-left:-1000px;
	z-index:9999;
	visibility: visible;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	background: #fff;
	padding: 15px 25px;
}
.activeMenu{
	float:left;
	margin-left:0px;
	margin-top:30%;
}
.menu-list{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	margin-buttom:5px;
}
.menu-list li a{
	font-size: 17px;
	color: #dc0056;
	text-decoration: none;
}
.menu-list li a:hover{
	color:#222;
}