body,html{
	margin: 0px;
  padding: 0px;
  height:100%;
}
.all-wrap{
	height:300%;
}
.header{
	height:18%;
	background:url(images/6.png);
	background-size:cover;
}
.header-block{
	height: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.header-title{
	position:absolute;
  width:20%;
  top:0;
	left:5%;
	text-decoration:none;
	color:rgba(254, 74, 6,1);
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.header-title a{
	text-decoration:none;
	color:rgba(254, 74, 6,1);
}
.first{
	height:40%;
	weight:100%;	
	
}
/* .up-title{
	position:relative;
	top:40%;
	font-family: 'Intro', sans-serif;
	font-size:100%;
	color:#1E90FF;
	text-align:center;
}
.title{
	position:relative;
	top:43%;
	font-family: 'Intro', sans-serif;
	font-size:100%;
	color:#E0FFFF;
	text-align:center;
} */
.second{
	height:16%;
}
.second .left-second{
	position:absolute;
	left:0px;
	background-color:rgba(34, 139, 34,1);
	width:50%;
	height:50%;
}
.left-second .alphard-logo{
	background:url(images/alphard_logo.png) 100% 100% no-repeat;
	position:absolute;
	left:-20%;
	top:-25%;
	width:80%;
  height:50%;
}
.alphard-system{
	background:url(images/alphard-apocalypse-power.png) 100% 100% no-repeat;
	position:absolute;
	width:100%;
  height:100%;
	left:-20%;
	top:-10%;
}
.right-second{
	background-color:#C0C0C0;
}
.right-second .kicx-logo{
	background:url(images/kicx-logo.png)100% 100% no-repeat;
	position:absolute;
	left:-15%;
	top:5%;
	width:50%;
  height:50%;
  overflow: auto;
}
.kicx-system{
  background:url(images/kicx-sub.png)100% 100% no-repeat;
	position:absolute;
	width:80%;
  height:80%;
	left:0%;
	top:0%;
}
.second .right-second{
	position:absolute;
	right:0px;
	background-color:;
	width:50%;
	height:50%;
}
.third{
	
	height:25%;
	width:100%;
}
.third .left-third{
	background-color:rgba(0, 0, 0,1);
	height:70%;
	width:35%;
	position:absolute;
	left:0px;
}
.third .herz-logo{
	position:absolute;
	background:url(images/herz-logo.png)100% 100% no-repeat;
	width:100%;
	height:30%;
	left:-10%;
	top:15%;
}
.third .right-third{
	background-color:rgba(254, 74, 6,1);
	height:70%;
	width:65%;
	position:absolute;
	right:0px;
}
.right-third .hertz-system{
	position:absolute;
	background:url(images/hertz-audio.png)100% 100% no-repeat;
	width:80%;
	height:100%;
	left:-10%;
	top:0%;
}



.menu-block{
	height:100%;
	position: fixed;    
	z-index: 9999;    
	top: 0px;    
	left: 0px;
	height:100%;
}
.menu-title{
	font-family: 'Intro', sans-serif;
	color:#E0FFFF;
}
.menu-button{
	color: #fff;    
	width: 43px;    
	height: 39px;    
	text-align: center;    
	font-size: 34px;        
	background: #1c4482;    
	padding-top: 4px;    
	cursor: pointer;
}
.menu-button:hover{
	background: #fff;
	olor: #1c4482;
} 
.menu-button{
	float:left;
}
.menu-list-block{
	float:left;
	margin-left:-1000px;
	visibility: visible;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	background: #fff;
	padding: 15px 25px;
}
.menu-list{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	margin-buttom:5px;
}
.menu-list li a{
	font-size: 17px;
	color: #dc0056;
	text-decoration: none;
}
.menu-list li a:hover{
	color:#222;
}

