body,html{
	margin: 0px;
  padding: 0px;
  height:100%;
}
.all-wrap{
	height:100%;
}
.header{
	height:50%;
	background:url(images/vBaNDgA.jpeg);
	background-size:cover;
}
.header-block{
	height: 5%;
  width: 100%;
  margin: 0;
  padding: 0;
  
	/* background: url(images/fondgrey.jpg); */
}
.header-title{
	position:absolute;
  width:20%;
  top:0;
	left:5%;
	color:#E0FFFF;
	font-family: 'Intro', sans-serif;
	font-size:250%;
}
.first{
	height:40%;
	weight:100%;	
	
}
.up-title{
	position:relative;
	top:40%;
	font-family: 'Intro', sans-serif;
	font-size:180%;
	color:#E0FFFF;
	text-align:center;
}
.title{
	position:relative;
	top:43%;
	font-family: 'Intro', sans-serif;
	font-size:180%;
	color:#E0FFFF;
	text-align:center;
}

.menu-block{
	position: fixed;    
	z-index: 9999;    
	top: 0px;    
	left: 0px;
	heqght:100%;
}
.menu-button{
	color: #fff;    
	width: 43px;    
	height: 39px;    
	text-align: center;    
	font-size: 34px;        
	background: #1c4482;    
	padding-top: 4px;    
	cursor: pointer;
}
.menu-button:hover{
	background: #fff;
	olor: #1c4482;
} 
.menu-button{
	float:left;
}
.menu-list-block{
	float:left;
	margin-left:-1000px;
	visibility: visible;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	background: #fff;
	padding: 15px 25px;
}
.menu-list{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.menu-list li{
	margin-buttom:5px;
}
.menu-list li a{
	font-size: 17px;
	color: #dc0056;
	text-decoration: none;
}
.menu-list li a:hover{
	color:#222;
}

